In [1]:
import pandas as pd
import numpy as np

In [2]:
training_data = pd.read_csv('train.csv')

In [16]:
test_data = pd.read_csv('test.csv')

In [4]:
y_training = training_data['CASE_STATUS']
y_test = test_data['CASE_STATUS']
training_data.index = training_data.iloc[:, 0]
test_data.index = test_data.iloc[:, 0]
training_data = training_data.drop(columns = ['CASE_STATUS']).iloc[:,1:]
test_data = test_data.drop(columns=['CASE_STATUS']).iloc[:, 1:]

In [5]:
try:
    training_data = training_data.drop(columns = ['EMPLOYER_NAME'])
except:
    pass
try: 
    test_data = test_data.drop(columns = ['EMPLOYER_NAME'])
except:
    pass
training_data.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,PREVAILING_WAGE,FULL_TIME_POSITION,total_wage,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1336192,0,0,0,0,0,0,0,0,0,0,...,74963.0,1,74963.0,4,1094.0,36828,0.978386,0.000244,0.011703,0.009667
1265192,0,0,0,0,1,0,0,0,0,0,...,101650.0,1,101650.0,6,1095.0,138,0.847826,0.130435,0.007246,0.014493
2347539,0,0,0,0,0,0,0,0,0,0,...,48000.0,1,92160000.0,6,1095.0,5,1.000000,0.000000,0.000000,0.000000
1801546,0,0,0,0,0,0,0,1,0,0,...,72000.0,1,72000.0,6,1096.0,11,0.636364,0.090909,0.181818,0.090909
2401379,0,0,0,0,0,0,0,0,0,0,...,63336.0,1,63336.0,4,1095.0,3,1.000000,0.000000,0.000000,0.000000

In [6]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as qda

In [7]:
# The training may cost about 40min. 
qda_model = lda()
qda_model.fit(training_data, y_training)

LinearDiscriminantAnalysis()

In [9]:
prediction = qda_model.predict(test_data)

In [17]:
y_test = test_data['CASE_STATUS']
test_data.index = test_data.iloc[:, 0]
test_data = test_data.drop(columns=['CASE_STATUS']).iloc[:, 1:]

In [20]:
np.mean(prediction == y_test)

0.9160747456302334

In [22]:
sum(prediction == 'CERTIFIED')/len(prediction)

0.9198651391932717

In [24]:
import pickle
filename = 'lda_initial_model.sav'
pickle.dump(qda_model, open(filename, 'wb'))
'''
# load the model from disk.
loaded_model = pickle. load(open(filename, 'rb'))
result = loaded_model. score(X_test, Y_test)
'''

"\n# load the model from disk.\nloaded_model = pickle. load(open(filename, 'rb'))\nresult = loaded_model. score(X_test, Y_test)\n"