In [25]:
import pandas as pd
import numpy as np

In [26]:
training_data = pd.read_csv('train.csv')

In [27]:
test_data = pd.read_csv('test.csv')

In [28]:
y_training = training_data['CASE_STATUS']
y_test = test_data['CASE_STATUS']
training_data.index = training_data.iloc[:, 0]
test_data.index = test_data.iloc[:, 0]
training_data = training_data.drop(columns = ['CASE_STATUS']).iloc[:,1:]
test_data = test_data.drop(columns=['CASE_STATUS']).iloc[:, 1:]

In [29]:
try:
    training_data = training_data.drop(columns = ['EMPLOYER_NAME'])
except:
    pass
try: 
    test_data = test_data.drop(columns = ['EMPLOYER_NAME'])
except:
    pass
training_data.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,PREVAILING_WAGE,FULL_TIME_POSITION,total_wage,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1365368,0,0,0,0,0,0,0,0,0,0,...,60590.0,1,60590.0,6,1095.0,8107,0.933761,0.011348,0.006784,0.048107
256086,0,0,0,0,0,0,0,0,0,0,...,68848.0,1,68848.0,6,1096.0,377,0.992042,0.000000,0.005305,0.002653
49861,0,0,0,0,0,0,0,0,0,0,...,95576.0,1,95576.0,6,1095.0,165,0.757576,0.206061,0.000000,0.036364
1356598,0,0,0,0,0,0,0,0,0,0,...,105019.0,1,105019.0,7,1094.0,96,0.843750,0.093750,0.041667,0.020833
220438,0,0,0,0,0,0,0,0,0,0,...,46000.0,1,88320000.0,6,1095.0,1523,0.990151,0.000000,0.009849,0.000000

In [49]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as qda

In [31]:
# The training may cost about 40min. 
lda_model = lda()
lda_model.fit(training_data, y_training)

LinearDiscriminantAnalysis()

In [43]:
prediction = lda_model.predict(test_data)

In [44]:
from sklearn.metrics import f1_score, balanced_accuracy_score, accuracy_score
print(f1_score(y_test, prediction, average='macro'), f1_score(y_test, prediction, average='micro'))

0.5980714797604347 0.9155805845337159

In [45]:
print(balanced_accuracy_score(y_test, prediction), accuracy_score(y_test, prediction))

0.562153885277252 0.9155805845337159

In [46]:
prediction = lda_model.predict(training_data)
print(balanced_accuracy_score(y_training, prediction),
      accuracy_score(y_training, prediction))
print(f1_score(y_training, prediction, average='macro'), f1_score(y_training, prediction, average='micro'))

0.5593688672488667 0.9155992915519506
0.5967302668758718 0.9155992915519506

In [47]:
import pickle
filename = 'lda_initial_model.sav'
pickle.dump(lda_model, open(filename, 'wb'))
'''
# load the model from disk.
loaded_model = pickle. load(open(filename, 'rb'))
result = loaded_model. score(X_test, Y_test)
'''

"\n# load the model from disk.\nloaded_model = pickle. load(open(filename, 'rb'))\nresult = loaded_model. score(X_test, Y_test)\n"

In [52]:
lg = LogisticRegression(penalty='l1', solver='liblinear')
lg.fit(training_data, y_training)

In [ ]:
prediction = lda_model.predict(test_data)
print(f1_score(y_test, prediction, average='macro'),
      f1_score(y_test, prediction, average='micro'))
print(balanced_accuracy_score(y_test, prediction),
      accuracy_score(y_test, prediction))

In [ ]:
prediction = lda_model.predict(training_data)
print(balanced_accuracy_score(y_training, prediction),
      accuracy_score(y_training, prediction))
print(f1_score(y_training, prediction, average='macro'),
      f1_score(y_training, prediction, average='micro'))