In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv',encoding = 'ISO-8859-1')
data.head()

,Unnamed: 0,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,FULL_TIME_POSITION,total_wage,CASE_STATUS,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
0,1955893,0,0,0,0,0,0,0,0,0,...,1,67912.0,1,6,1095.0,5,1.000000,0.000000,0.000000,0.000000
1,2344329,0,0,0,0,1,0,0,0,0,...,1,95472.0,1,6,1095.0,11,1.000000,0.000000,0.000000,0.000000
2,1559667,0,0,0,0,0,0,0,0,0,...,1,64813.0,1,5,1095.0,245,0.926531,0.016327,0.008163,0.048980
3,1188733,0,0,0,0,0,1,0,0,0,...,0,60798.0,1,6,1094.0,25,0.840000,0.040000,0.000000,0.120000
4,518282,0,0,0,0,1,0,0,0,0,...,1,103958.0,1,6,1095.0,1209,0.990902,0.000827,0.006617,0.001654

In [3]:
X_tr = data.drop(['CASE_STATUS','EMPLOYER_NAME', 'EMPLOYER_CERTIFIED_RATE', 'EMPLOYER_CERTIFIED-WITHDRAWN_RATE',
       'EMPLOYER_DENIED_RATE', 'EMPLOYER_WITHDRAWN_RATE'],axis=1)
Y_tr = data['CASE_STATUS']

In [4]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2)
tree.fit(X_tr, Y_tr)

DecisionTreeClassifier(max_depth=2)

In [5]:
# from sklearn.model_selection import cross_val_score
# cross_val_score(tree, X_tr, Y_tr,
#                 scoring="accuracy", 
#                 cv=5).mean()

In [6]:
data_test = pd.read_csv('test.csv',encoding = 'ISO-8859-1')
data_test.head()

,Unnamed: 0,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,FULL_TIME_POSITION,total_wage,CASE_STATUS,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
0,1176480,0,0,0,0,0,0,0,0,0,...,0,68557.0,1,6,1094.0,6,1.000000,0.000000,0.000000,0.000000
1,1329173,0,0,0,0,0,0,0,0,0,...,1,66664.0,1,6,1094.0,3,1.000000,0.000000,0.000000,0.000000
2,1813587,0,0,0,0,0,0,0,0,0,...,1,142080000.0,1,4,463.0,10,1.000000,0.000000,0.000000,0.000000
3,1661179,0,0,0,0,0,0,0,0,0,...,1,119040000.0,1,6,1095.0,138,0.739130,0.260870,0.000000,0.000000
4,84154,0,0,0,0,0,0,0,0,0,...,1,63981.0,1,4,852.0,31224,0.818249,0.045029,0.008071,0.128651

In [7]:
from sklearn import metrics
from sklearn.metrics import recall_score, precision_score, balanced_accuracy_score, f1_score
import warnings
warnings.filterwarnings('ignore')

### Performance on Training Set

In [8]:
Y_pred = tree.predict(X_tr)

In [9]:
print("Accuracy:",metrics.accuracy_score(Y_tr, Y_pred))
print("Weighted Accuracy:",balanced_accuracy_score(Y_tr, Y_pred))
print("Precision:",precision_score(Y_tr, Y_pred, average='weighted'))
print("Recall:",recall_score(Y_tr, Y_pred, average='weighted'))
print("F1 Score:",f1_score(Y_tr, Y_pred, average='weighted'))

Accuracy: 0.9819637903026627
Weighted Accuracy: 0.9246610574186359
Precision: 0.9822737859417031
Recall: 0.9819637903026627
F1 Score: 0.9813292780402884

In [10]:
print("F1 Score:",f1_score(Y_tr, Y_pred, average='macro'))

F1 Score: 0.9538070812170985

In [11]:
print("F1 Score:",f1_score(Y_tr, Y_pred, average=None))

F1 Score: [0.91774269 0.98987148]

### Performance on Test Set

In [12]:
X_test = data_test.drop(['CASE_STATUS','EMPLOYER_NAME', 'EMPLOYER_CERTIFIED_RATE', 'EMPLOYER_CERTIFIED-WITHDRAWN_RATE',
       'EMPLOYER_DENIED_RATE', 'EMPLOYER_WITHDRAWN_RATE'],axis=1)
y_pred = tree.predict(X_test)

In [13]:
y_test = data_test['CASE_STATUS']

In [14]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Weighted Accuracy:",balanced_accuracy_score(y_test, y_pred))
print("Precision:",precision_score(y_test, y_pred, average='weighted'))
print("Recall:",recall_score(y_test, y_pred, average='weighted'))
print("F1 Score:",f1_score(y_test, y_pred, average='weighted'))

Accuracy: 0.9819788619511013
Weighted Accuracy: 0.9248763639714404
Precision: 0.9822788751531069
Recall: 0.9819788619511013
F1 Score: 0.9813487463387317

In [15]:
print("F1 Score:",f1_score(y_test, y_pred, average='macro'))

F1 Score: 0.9538635085810905

In [16]:
print("F1 Score:",f1_score(y_test, y_pred, labels=[1, 0], average=None))

F1 Score: [0.98987939 0.91784763]

In [17]:
from sklearn.ensemble import BaggingClassifier

In [18]:
bagging_1 = BaggingClassifier(base_estimator=DecisionTreeClassifier(max_leaf_nodes=3), 
                              max_samples=1000, n_estimators=10)
bagging_1.fit(X_tr, Y_tr)
y_pred = bagging_1.predict(X_test)

In [19]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Weighted Accuracy:",balanced_accuracy_score(y_test, y_pred))
print("Precision:",precision_score(y_test, y_pred, average='weighted'))
print("Recall:",recall_score(y_test, y_pred, average='weighted'))
print("F1 Score:",f1_score(y_test, y_pred, average=None))

Accuracy: 0.9819788619511013
Weighted Accuracy: 0.9248763639714404
Precision: 0.9822788751531069
Recall: 0.9819788619511013
F1 Score: [0.91784763 0.98987939]

In [20]:
import pickle
filename = 'rf_initial_model1.sav'
pickle.dump(bagging_1, open(filename, 'wb'))