In [1]:
import pandas as pd
import numpy as np

In [2]:
training_data = pd.read_csv('../DATA/train_normalized_4labels.csv')

In [3]:
test_data = pd.read_csv('../DATA/test_normalized_4labels.csv')

In [9]:
data = pd.DataFrame()
n_sample = 24748
# 'CERTIFIED': 1502699, 'CERTIFIED-WITHDRAWN': 122582, 'WITHDRAWN': 54542, 'DENIED': 24748
for c in ['CERTIFIED', 'CERTIFIED-WITHDRAWN', 'DENIED', 'WITHDRAWN']:
    T = training_data[training_data['CASE_STATUS'] == c].sample(n_sample)
    data = data.append(T)
data.columns = training_data.columns
data = data.iloc[:,1:]
data.to_csv('../DATA/training_downsampling.csv')

In [10]:
data.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,FULL_TIME_POSITION,total_wage,CASE_STATUS,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
60172,0,0,0,0,0,0,0,0,0,0,...,1,-0.011304,CERTIFIED,-0.203980,-2.042202,-0.397814,0.281416,-0.200176,0.000069,-0.271808
989967,0,0,0,0,0,0,0,0,0,0,...,1,-0.011345,CERTIFIED,-0.196148,0.293395,-0.378657,0.632822,-0.575464,-0.043824,-0.332815
695869,0,0,0,0,0,0,0,0,0,0,...,1,-0.011328,CERTIFIED,-0.203980,0.293395,-0.422871,0.799884,-0.594953,-0.232216,-0.497703
793579,0,0,0,0,0,0,0,0,0,0,...,1,-0.011352,CERTIFIED,-0.203980,0.293395,-0.419164,0.707362,-0.594953,-0.232216,-0.284628
463613,0,0,0,0,0,0,0,0,0,0,...,1,-0.011322,CERTIFIED,-0.203980,0.293395,-0.316068,0.766905,-0.594953,-0.177547,-0.474918