In [1]:
import pandas as pd
import numpy as np

In [2]:
training_data = pd.read_csv('train.csv')

In [3]:
test_data = pd.read_csv('test.csv')

In [4]:
y_training = training_data['CASE_STATUS']
y_test = test_data['CASE_STATUS']
training_data.index = training_data.iloc[:, 0]
test_data.index = test_data.iloc[:, 0]
training_data = training_data.drop(columns = ['CASE_STATUS']).iloc[:,1:]
test_data = test_data.drop(columns=['CASE_STATUS']).iloc[:, 1:]

In [5]:
try:
    training_data = training_data.drop(columns = ['EMPLOYER_NAME'])
except:
    pass
try: 
    test_data = test_data.drop(columns = ['EMPLOYER_NAME'])
except:
    pass
training_data.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,PREVAILING_WAGE,FULL_TIME_POSITION,total_wage,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1955893,0,0,0,0,0,0,0,0,0,0,...,67912.0,1,67912.0,6,1095.0,5,1.000000,0.000000,0.000000,0.000000
2344329,0,0,0,0,1,0,0,0,0,0,...,95472.0,1,95472.0,6,1095.0,11,1.000000,0.000000,0.000000,0.000000
1559667,0,0,0,0,0,0,0,0,0,0,...,64813.0,1,64813.0,5,1095.0,245,0.926531,0.016327,0.008163,0.048980
1188733,0,0,0,0,0,1,0,0,0,0,...,60798.0,0,60798.0,6,1094.0,25,0.840000,0.040000,0.000000,0.120000
518282,0,0,0,0,1,0,0,0,0,0,...,103958.0,1,103958.0,6,1095.0,1209,0.990902,0.000827,0.006617,0.001654

In [6]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as qda

In [7]:
# The training may cost about 40min. 
lda_model = lda()
lda_model.fit(training_data, y_training)

LinearDiscriminantAnalysis()

In [8]:
prediction = lda_model.predict(test_data)

In [9]:
from sklearn.metrics import f1_score, balanced_accuracy_score, accuracy_score
print(f1_score(y_test, prediction, average=None), f1_score(y_test, prediction, average='micro'))

[0.61300225 0.96179284] 0.9304519589175545

In [10]:
print(balanced_accuracy_score(y_test, prediction), 
      accuracy_score(y_test, prediction))

0.7290353614293952 0.9304519589175545

In [11]:
prediction = lda_model.predict(training_data)
print(balanced_accuracy_score(y_training, prediction),
      accuracy_score(y_training, prediction))
print(f1_score(y_training, prediction, average=None), f1_score(y_training, prediction, average='micro'))

0.7281517041136502 0.9302680850489654
[0.61145597 0.96169692] 0.9302680850489654

In [12]:
import pickle
filename = 'lda_initial_model.sav'
pickle.dump(lda_model, open(filename, 'wb'))
'''
# load the model from disk.
loaded_model = pickle. load(open(filename, 'rb'))
result = loaded_model. score(X_test, Y_test)
'''

"\n# load the model from disk.\nloaded_model = pickle. load(open(filename, 'rb'))\nresult = loaded_model. score(X_test, Y_test)\n"

In [14]:
# The training may cost about 40min.
qda_model = qda()
qda_model.fit(training_data, y_training)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

QuadraticDiscriminantAnalysis()

In [16]:
prediction = qda_model.predict(test_data)
print(f1_score(y_test, prediction, average=None),
      f1_score(y_test, prediction, average='micro'))
print(balanced_accuracy_score(y_test, prediction),
      accuracy_score(y_test, prediction))

[0.1577725  0.90344867] 0.8267575229524826
0.5282157959047862 0.8267575229524825

In [18]:
prediction = qda_model.predict(training_data)
print(balanced_accuracy_score(y_training, prediction),
      accuracy_score(y_training, prediction))
print(f1_score(y_training, prediction, average=None),
      f1_score(y_training, prediction, average='micro'))

0.5285841182281272 0.8274762388894332
[0.15823747 0.90388887] 0.8274762388894332

In [20]:
import pickle
filename = 'qda_initial_model.sav'
pickle.dump(qda_model, open(filename, 'wb'))