In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('train.csv',encoding = 'ISO-8859-1')
data.head()

,Unnamed: 0,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,FULL_TIME_POSITION,total_wage,CASE_STATUS,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
0,1336192,0,0,0,0,0,0,0,0,0,...,1,74963.0,CERTIFIED,4,1094.0,36828,0.978386,0.000244,0.011703,0.009667
1,1265192,0,0,0,0,1,0,0,0,0,...,1,101650.0,CERTIFIED,6,1095.0,138,0.847826,0.130435,0.007246,0.014493
2,2347539,0,0,0,0,0,0,0,0,0,...,1,92160000.0,CERTIFIED,6,1095.0,5,1.000000,0.000000,0.000000,0.000000
3,1801546,0,0,0,0,0,0,0,1,0,...,1,72000.0,CERTIFIED,6,1096.0,11,0.636364,0.090909,0.181818,0.090909
4,2401379,0,0,0,0,0,0,0,0,0,...,1,63336.0,CERTIFIED,4,1095.0,3,1.000000,0.000000,0.000000,0.000000

In [4]:
from sklearn.tree import DecisionTreeRegressor
base_tree = DecisionTreeRegressor(max_depth=5)